  <label for="sortBY">Sort By:</label>
<div class="btn-group">
  <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Relevance
  </button>
   <div class="dropdown-menu">
    <a class="dropdown-item" href="#">New Releases</a>
    <a class="dropdown-item" href="#">Price: Low to High</a>
    <a class="dropdown-item" href="#">Price: High to Low</a>
    <a class="dropdown-item" href="#">Best Sellers</a>
  </div>