<!doctype html>
<html lang="en">
  <head>
    <title>All My Kicks</title>
    {{>header}}
<link rel="stylesheet" type="text/css" href="css/index.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
  </head>
  <body id ="indexBody">
    {{>menu}}
    <div class="container">
        <h1>All My Kicks</h1>

        <div class="list-group">
            {{#shoes}}
            <div class="card" style="width:400px">
                <img class="card-img-top" src={{image}} alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">{{name}}</h4>
                  <p class="card-text">${{price}}</p>
                  <a href="/product-details/{{id}}" class="btn btn-primary">Details</a>
                </div>
              </div>
            {{/shoes}}
        </div>

    </div>

      
    {{>footer}}
  </body>
</html>