<html lang="en">
<head>
    {{> header}}
<link rel="stylesheet" type="text/css" href="css/index.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
</head>
<body id="indexBody">


    <div id="container">
    <h1> Casual </h1>
        {{> menu}}

        <ul class="list-group">
            {{#products}}

            <img src="/uploads/{{imageURL}}" class="prodcut-preview-image" />
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="/products/{{id}}"> {{title}} </a>
                {{title}}
                <small>${{price}}>/small>
            </li>

            {{/products}}
        </ul>


        <div id="outerContainer">

            <div class="row">
                <div class="col-sm-1 col-sm-2 col-md-3 col-lg-3 col-xl-4 shoebox">
                    Sperry Topsider: Halyar
                    <img class="URL" src="/images/SperryHalyar.png" alt="Black canvas boat shoe">
                    <a href="/product-details/{{id}}"><button class="detailsBtn">Details</button></a>
                </div>
                <div class="col-sm-1 col-sm-2 col-md-3 col-lg-3 col-xl-4 shoebox">
                    Vans: Marvel Skate
                    <img class="URL" src="/images/VansMarvelSkate.png" alt="Comic print canvas shoe">
                    <a href="/product-details/{{id}}"><button class="detailsBtn">Details</button></a>
                </div>
                <div class="col-sm-1 col-sm-2 col-md-3 col-lg-3 col-xl-4 shoebox">
                    Polo: Vaughn
                    <img class="URL" src="/images/RalphLaurenVaughn.png" alt="Blue canvas shoe">
                    <a href="/product-details/{{id}}"><button class="detailsBtn">Details</button></a>
                </div>
                <div class="col-sm-1 col-sm-2 col-md-3 col-lg-3 col-xl-4 shoebox">
                    New Balance: Numeric NM288 Sport
                    <img class="URL" src="/images/NBNumericNM288Sport.png" alt="Black nubuck leather sneaker">
                    <a href="/product-details/{{id}}"><button class="detailsBtn">Details</button></a>
                </div>
    
            </div>
        </div>

        {{> footer}}
</body>


</html>