<html lang="en">

<head>
    {{> header}}


    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script type="text/javascript" src="jquery.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
</head>

<body id="indexBody">
    <!-- <div id="headerDiv">
        <h1 id="header">Talaria Footwear</a></h1>
    </div> -->

    <div id="menu">
        {{> menu}}
    </div>
    <div id="outerContainer">
        <div class="container">
            <div class="row">
              <div class="col-md-4 One">
                Shoebox1
                <img class="URL" src="https://tinyurl.com/2cv3fyms" alt="Black dress shoe with a blue sole">
                <button class="bidBtn">Bid</button>
              </div>
              <div class="col-md-4 Two">
                Shoebox2
                <img class="URL" src="https://tinyurl.com/9sn6nc6v" alt="Gray canvas sneakers with a white sole">
                <button class="bidBtn">Bid</button>
              </div>
              <div class="col-md-4 Three">
                Shoebox3
                <img class="URL" src="https://tinyurl.com/bxrkn3bu" alt="Tan boat shoes with a cream sole">
                <button class="bidBtn">Bid</button>
              </div>
              <!-- <div class="col">
                Shoebox4
              </div> -->
            </div>
          </div>    
    </div>
</body>

</html>