<html lang="en">

<head>
    {{> header}}
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script type="text/javascript" src="jquery.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
</head>

<body id="indexBody">
    <div id="container">
    <h1> Home </h1>
        {{> menu}}

        <ul class="list-group">
            {{#products}}

            <img src="/uploads/{{imageURL}}" class="prodcut-preview-image" />
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="/products/{{id}}"> {{title}} </a>
                {{title}}
                <small>${{price}}>/small>
            </li>

            {{/products}}
        </ul>
    </div>
    <div id="outerContainer">
        <div class="row">
            <div class="col-sm-1 col-sm-2 col-md-3 col-lg-3 col-xl-4 shoebox One">
                Allen Edmonds: Strandmok
                <img class="URL" src="/images/AllenEdmondsStrandmok.png" alt="Black dress shoe">
                <a href="/product-details/{{id}}"><button class="detailsBtn">Details</button></a>
            </div>
            <div class="col-sm-1 col-sm-2 col-md-3 col-lg-3 col-xl-4 shoebox Two">
                Louis Vuitton: Fun Luis Jr
                <img class="URL" src="/images/FunLuisJr.jpg" alt="Blue luxury sneaker">
                <a href="/product-details/{{id}}"><button class="detailsBtn">Details</button></a>
            </div>
            <div class="col-sm-1 col-sm-2 col-md-3 col-lg-3 col-xl-4 shoebox Three">
                Cole Haan: Cooper Square
                <img class="URL" src="/images/cole-haan-cooper-square-wingtip.png" alt="Tan dress shoe">
                <a href="/product-details/{{id}}"><button class="detailsBtn">Details</button></a>
            </div>
            <div class="col-sm-1 col-sm-2 col-md-3 col-lg-3 col-xl-4 shoebox">
                Asics: Gel-Preshot Classic 3
                <img class="URL" src="/images/AsicsGelProShotClassics3.png" alt="Blue athletic running shoe">
                <a href="/product-details/{{id}}"><button class="detailsBtn">Details</button></a>
            </div>
            <div class="col-sm-1 col-sm-2 col-md-3 col-lg-3 col-xl-4 shoebox">
                Sperry Topsider: Halyar
                <img class="URL" src="/images/SperryHalyar.png" alt="Black canvas boat shoe">
                <a href="/product-details/{{id}}"><button class="detailsBtn">Details</button></a>
            </div>
            <div class="col-sm-1 col-sm-2 col-md-3 col-lg-3 col-xl-4 shoebox">
                Converse: Weapon Holographic
                <img class="URL" src="/images/converseWeaponHolographic.jpg" alt="Black hightop sneaker">
                <a href="/product-details/{{id}}"><button class="detailsBtn">Details</button></a>
            </div>
            <div class="col-sm-1 col-sm-2 col-md-3 col-lg-3 col-xl-4 shoebox">
                Vans: Marvel Skate
                <img class="URL" src="/images/VansMarvelSkate.png" alt="Comic print canvas shoe">
                <a href="/product-details/{{id}}"><button class="detailsBtn">Details</button></a>
            </div>
            <div class="col-sm-1 col-sm-2 col-md-3 col-lg-3 col-xl-4 shoebox">
                Allen Edmonds: Strandmok Brogue
                <img class="URL" src="/images/AllenEdmondsStrandmokBrogue.jpeg" alt="Brown dress shoe">
                <a href="/product-details/{{id}}"><button class="detailsBtn">Details</button></a>
            </div>
            <div class="col-sm-1 col-sm-2 col-md-3 col-lg-3 col-xl-4 shoebox">
                Converse: Major Mills
                <img class="URL" src="/images/ConverseMajorMills.jpg" alt="Gray canvas combat boot">
                <a href="/product-details/{{id}}"><button class="detailsBtn">Details</button></a>
            </div>
            <div class="col-sm-1 col-sm-2 col-md-3 col-lg-3 col-xl-4 shoebox">
                Polo: Vaughn
                <img class="URL" src="/images/RalphLaurenVaughn.png" alt="Blue canvas shoe">
                <a href="/product-details/{{id}}"><button class="detailsBtn">Details</button></a>
            </div>
            <div class="col-sm-1 col-sm-2 col-md-3 col-lg-3 col-xl-4 shoebox">
                New Balance: Numeric NM288 Sport
                <img class="URL" src="/images/NBNumericNM288Sport.png" alt="Black nubuck leather sneaker">
                <a href="/product-details/{{id}}"><button class="detailsBtn">Details</button></a>
            </div>
            <div class="col-sm-1 col-sm-2 col-md-3 col-lg-3 col-xl-4 shoebox">
                Florsheim: Montinaro
                <img class="URL" src="/images/FlorsheimMontinaro.jpg" alt="Tan dress shoe">
                <a href="/product-details/{{id}}"><button class="detailsBtn">Details</button></a>
            </div>

        </div>
    </div>
    {{> footer}}
</body>

</html>