<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/users-post" method="POST">
    <label for="">Title</label>
    <br>
    <input type="text" placeholder="" name="name">
    <br>
    <label for="">Style</label>
    <br>
    <input type="text" name="style" name="style">
    <br>
    <label for="">Shoe Size</label>
    <br>
    <input type="text" name="size">
    <br>
    <label for="">Asking Price</label>
    <br>
    <input type="text" name="price">
    <br>
    <label for="">Image</label>
    <br>
    <input type="file" name="image">
    <br>
    <label for="">Description</label>
    <br>
    <textarea cols="30" rows="10" name="description"></textarea>
    <br>
    <button type="submit">Post</button>
    </form>
</body>
</html>