#indexBody {
  background: rgb(140, 146, 176);
  background: linear-gradient(
    90deg,
    rgba(140, 146, 176, 0.9332107843137255) 2%,
    rgba(59, 82, 193, 1) 33%,
    rgba(67, 96, 226, 1) 53%,
    rgba(46, 60, 126, 1) 79%
  );
  margin: 0;
  font-family: "Audiowide", sans-serif;
}

#outerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  width: 100%;
  height: auto;
  /* margin-top: 10px; */
  /* margin: 10px 20px 10px 20px; */
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}

.row {
  justify-content: center;
}

.shoebox {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  margin: 20px;
  max-width: 600px;
  background-color: white;
}

.URL {
  width: 90%;
  height: auto;
}

.detailsBtn {
  background-color: #555;
  color: white;
  font-size: 15px;
  padding: 10px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#headerDiv {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: auto;
  /* bottom: auto;
  left: auto;
  right: auto; */
  padding: auto;
  text-align: center;
  align-items: left;
  height: 10%;
  width: 95%;
  /* margin: auto; */
  overflow: auto;
  border-radius: 20px;
}

#header {
  text-align: center;
  font-family: "Audiowide", sans-serif;
  font-weight: 80em;
  font-size: 25px;
  color: silver;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 10px;
  background-color: rgb(17, 11, 105);
}

#menu {
  text-align: center;
  font-family: "Audiowide", sans-serif;
  font-weight: 80em;
  font-size: 25px;
  color: silver;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 10px;
  background-color: rgb(17, 11, 105);
}

@media screen and (max-width: 765px) {
}

/* styling the users post*/

#usersPostForm {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 50%;
    margin: auto;
    padding-bottom: 100px;
    color: white;
}

#usersPostForm > label {
    display: block;
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-size: 2em;
    font-weight: bold;
}
