
#indexBody {
    background: rgb(140, 146, 176);
    background: linear-gradient(
      90deg,
      rgba(140, 146, 176, 0.9332107843137255) 2%,
      rgba(59, 82, 193, 1) 33%,
      rgba(67, 96, 226, 1) 53%,
      rgba(46, 60, 126, 1) 79%);
      margin: 0;
      font-family: "Audiowide", sans-serif;
  }

  #headerDiv {
    display: flex;
    flex-direction:row;
    position: relative;
    margin-top: auto;
    /* bottom: auto;
    left: auto;
    right: auto; */
    padding: auto;
    text-align: center;
    align-items: left;
    height: 10%;
    width: 95%;
    /* margin: auto; */
    overflow: auto;
    border-radius: 20px;
  ;

  }

  #header {
    text-align: center;
    font-family: "Audiowide", sans-serif;
    /* font-style: italic; */
    font-weight: 80em;
    font-size: 25px;
    color: silver;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 10px;
    background-color: rgb(17, 11, 105);
  }
  #menu {
    text-align: center;
    font-family: "Audiowide", sans-serif;
    /* font-style: italic; */
    font-weight: 80em;
    font-size: 25px;
    color: silver;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 10px;
    background-color: rgb(17, 11, 105);
  }

  #outerContainer {
    display: flex;
    flex-direction: column;
    /* flex-direction: column;
    position: absolute;
    top: 8%;
    bottom: 0;
    left: 0;
    right: 0;
    padding: auto;
    align-items: center;
    height: 90%;
    width: 95%;
    margin: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    border-radius: 20px; */
    background-color: white;
  }
    /* .container {
      display: flex;
      flex-direction: row;
      position: relative;
      height: 35px;
      width: 20px;
      background-color: blanchedalmond;
    } */

  .row {
    justify-content: center;
  }

  .shoebox {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin: 30px;
    max-width: 600px;
    background-color: antiquewhite;
  }

  /* .One {
    background-color: white;
  }
  .Two {
    background-color: whitesmoke;
  }
  .Three {
    background-color: gray;
  } */

  .URL {
    width: 90%;
    height: auto;
  }

  .detailsBtn {
  
    background-color: #555;
    color: white;
    font-size: 10px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  

  @media screen and (max-width: 765px) {

  }