
body {
    margin: 0px;
    padding: 0px;
    padding-bottom: 100px;
}

body > form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 50%;
    margin: auto;
}

body > form > label {
    display: block;
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-size: 2em;
    font-weight: bold;
}




