<html lang="en">
<head>
    {{> header}}

    
<link rel="stylesheet" href="index.css"></link> 
<script type="text/javascript" src="jquery.js"></script>
</head>
<body>
<h1>Shoe Store</a></h1>

<div class="container">
    {{> menu}}






</div>


    
    {{> footer}}

</body>

</html>